html {

	background-color: #ffffff;
	background-image:repeating-linear-gradient(0deg, #ff5500 0%, transparent 25%, transparent 25%, #ff5500 100%);
	min-height: 100%
}


/*
section {
	width: 35%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}
*/

header { /*for sections*/
	width: 35%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}

.persona-picture {


	width: 15%;
}
