body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ff5500+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ff5500 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ff5500 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%, #ff5500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ff5500', GradientType=0); /* IE6-9 */
}

/*
section {
	width: 35%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}
*/

header { /*for sections*/
	width: 35%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}

.persona-picture {
	alignment: center;
	border-radius: 10px;

	/* Resize image */
	max-width: 100%;
	height: auto;

	/* Center the image. */
	display: block;
	margin: auto;
	width: 50%;
}