/*
.full-width-div {
	width: 100&;
}

.half-width-div {
	width: 40%;
}


textarea {
	margin: 1vh;
}


.elliptic-curve-parameter {
	width: 90%;
}
*/

::-webkit-input-placeholder {
	color: red;
}

:-moz-placeholder { /* Firefox 18- */
	color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: red;
}

:-ms-input-placeholder {
	color: red;
}

