
body, html { /*global body style*/
	font-family: "Quicksand", sans-serif;
	text-shadow:0rem 0rem 0.5rem black;
	color: white;
	font-size: 1.1rem;
	background-color: #AE8093;
	background-image: url("../img/kite-logo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 30%;
	height: 100%; /*body height*/
}
.pulse {
	animation: pulsate-in 25s forwards;
	animation-delay: 8s;
}
.fade-in { /*class for on the kiteCrypt title*/
	font-weight: 900;
	height: 0;
	opacity: 0;
	animation: fadeIn 5s forwards; /*run fadeIn animation for 5 seconds*/
	animation-delay: 8s; /*wait 5 seconds after the page loads to run fadeIn animation*/
	animation-timing-function: ease-in, ease-out;
}
.fade-in-out-2 { /*class for kiteCrypt title subtext*/
	height: 0;
	opacity: 0;
	animation: fadeInOut 8s forwards; /*run fadeInOut animation for 5 seconds*/
	animation-timing-function: ease-in, ease-out;
}
@keyframes fadeInOut{ /*Animation that changes opacity from 0 to 1 and back*/
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeIn{ /*Animation that changes opacity from 0 to 1*/
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes pulsate-in{ /*animation for header text*/
	0% {
		color: #E80C7A;
		text-shadow:0rem 0rem 0.5rem white;
	}
	25% {
		color: #E80C7A;
		text-shadow:0rem 0rem 0.5rem white;
	}
	50% {
		color: white;
		text-shadow:0rem 0rem 0.5rem #E80C7A;
	}
	100% {
		color: white;
		text-shadow:0rem 0rem 0.5rem black;
	}
}
