/*************************************************************
Main style
*************************************************************/
@media (min-height: 450px) { /*for most screens*/
	body, html { /*global body style*/
		font-family: "Quicksand", sans-serif;
		text-shadow: 0rem 0rem 0.5rem black;
		color: #e4e5e4;
		font-size: 1.1rem;
		background-color: #AE8093;
		background-image: url("img/kite-logo.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 50% 10%;
		height: 100%; /*body height*/
	}
}
@media (max-height: 449px) { /*for mobile screens with keyboards deployed*/
	body, html { /*global body style*/
		font-family: "Quicksand", sans-serif;
		text-shadow: 0rem 0rem 0.5rem black;
		color: #e4e5e4;
		font-size: 1.1rem;
		background-color: #AE8093;
		height: 100%; /*body height*/
	}
}
/*************************************************************
styling for title text
*************************************************************/

@media (max-width: 449px) {
	.pad-down {
		padding-top: 88%;
	}

	.pad-down2 {
		padding-top: 5%;
	}
}
@media (min-width: 450px) {
	.pad-down {
		padding-top: 2%;
	}
	.pad-down2 {
		padding-top: 5%;
	}
}
@media (min-width: 750px) {
	.pad-down {
		padding-top: 45%;
	}
	.pad-down2 {
		padding-top: 1.5%;
	}
}
@media (min-width: 770px) {
	.pad-down {
		padding-top: 30%;
	}
	.pad-down2 {
		padding-top: 1.5%;
	}
}

.pulse {  /*class for  the main title*/
	animation: pulsate-in 25s forwards;
	animation-delay: 8s;
}
.fade-in { /*class for on the kiteCrypt title*/
	font-weight: 900;
	height: 0;
	opacity: 0;
	animation: fadeIn 5s forwards; /*run fadeIn animation for 5 seconds*/
	animation-delay: 8s; /*wait 5 seconds after the page loads to run fadeIn animation*/
	animation-timing-function: ease-in, ease-out;
}
.fade-in-out { /*class for kiteCrypt title subtext*/
	height: 0;
	opacity: 0;
	animation: fadeInOut 8s forwards; /*run fadeInOut animation for 5 seconds*/
	animation-timing-function: ease-in, ease-out;
}
.fade-in-2 { /*class for kiteCrypt title subtext*/
	font-weight: 900;
	height: 0;
	opacity: 0;
	animation: fadeIn 5s forwards; /*run fadeIn animation for 5 seconds*/
	animation-delay: 8s; /*wait 5 seconds after the page loads to run fadeIn animation*/
	animation-timing-function: ease-in, ease-out;
}
.skip-fade-in {  /*main title changed to this class when the body is clicked*/
	font-weight: 900;
	height: 0;
	opacity: 1;
}
.skip-fade-in-2 {  /*title subtext changed to this class when the body is clicked*/
	height: 0;
	opacity: 1;
}
.skip-fade-in-out { /*title slogan changed to this class when the body is clicked*/
	height: 0;
	opacity: 0;
}
.pulse-now { /*main title changed to this class when the body is clicked*/
	animation: pulsate-in 25s forwards;
}
a { /*link color*/
	color: #98171f;
}
a:hover {
	color: #c01e1d;
	cursor: pointer;
}
/*************************************************************
title text animations
*************************************************************/
@keyframes fadeInOut{ /*Animation that changes opacity from 0 to 1 and back*/
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeIn{ /*Animation that changes opacity from 0 to 1*/
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes pulsate-in{ /*animation for header text*/
	0% {
		color: #671134;
		text-shadow:0rem 0rem 0.5rem #e4e5e4;
	}
	25% {
		color: #671134;
		text-shadow:0rem 0rem 0.5rem #e4e5e4;
	}
	50% {
		color: #e4e5e4;
		text-shadow:0rem 0rem 0.5rem #671134;
	}
	100% {
		color: #e4e5e4;
		text-shadow:0rem 0rem 0.5rem black;
	}
}

/*************************************************************
styling for login form
*************************************************************/
@media (max-width: 449px) {
	#login-row { /*the bootstrap row containing the login form*/
		padding-top: 15%;
	}
}
@media (min-width: 450px) {
	#login-row { /*the bootstrap row containing the login form*/
		padding-top: 5%;
	}
}
.btn-login {/*the login button*/
	color: #e4e5e4;
	background-color: #98171f;
}

.alert {
	font-size: .5rem;
}
/******************************
styling for pusher chat window
*******************************/


#gravatar {
	display: none;
}

.hide {
	display: none;
}

#pusher_chat_widget .pusher-chat-widget {

	margin-left: 30px;
}
/**********************************************
*ADDITIONAL STYLING FOR PUSHER CHAT WINDOW*
**********************************************/
.pusher-chat-widget {
	position: fixed;
	bottom: 0;
	left: 300px;
	z-index: 10000;

	font-size: 13px;

	width: 300px;

	background-color: whiteSmoke;
	border: 1px solid #EEE;
	margin-bottom: 0;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	padding-left: 10px;
}

.pusher-chat-widget input {
	width: 280px;
}

.pusher-chat-widget label {
	font-weight: bold;
	text-align: left;
	padding-top: 6px;
	line-height: 18px;
}

.pusher-chat-widget-header {
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	overflow: auto;
}

.pusher-chat-widget-current-user-image {
	float: left;
	height: 32px;
	overflow: hidden;
	width: 32px;
	margin-top: 3px;
}

.pusher-chat-widget-current-user-name {
	margin-left: 42px;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
}

.pusher-chat-widget-header input {
	display: block;
}

.pusher-chat-widget-input {
	position: relative;
}

.pusher-chat-widget textarea {
	width: 230px;
	height: 40px;
}

.pusher-chat-widget-send-btn {
	width: 50px;
	height: 40px;

	font-size: 11px;
	line-height: normal;
	padding: 5px 10px 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: top;

	color: white;
	background-color: #0064CD;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid #CCC;
}

.pusher-chat-widget-footer {
	border-top: 1px solid #EBEBEB;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* activity streams - messages */
.pusher-chat-widget ul.activity-stream {
	list-style: none;
	margin: 0;
	padding: 0;

	background-color: white;
	min-height: 100px;
	max-height: 400px;
	margin-right: 10px;
}

.pusher-chat-widget ul.activity-stream li.waiting {
	height: 100%;
	font-weight: bold;
	text-align: center;
}

.pusher-chat-widget ul.activity-stream {
	overflow: auto;
}

.pusher-chat-widget ul.activity-stream li {
	position: relative;
	border-bottom: 1px solid #EBEBEB;
	clear: both;
	display: block;
	outline: none;
	margin-top: -1px;
	border-top: 1px solid transparent;
	overflow: auto;
}

.pusher-chat-widget ul.activity-stream li.chat-message {
	background-color: #DDF4FB;
	border-color: #C6EDF9;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.pusher-chat-widget ul.activity-stream li div.stream-item-content {
	padding: 5px 15px;
	font-size: 12px;
	position: relative;
	zoom: 1;
}

.pusher-chat-widget ul.activity-stream li .image {
	float: left;
	height: 48px;
	overflow: hidden;
	width: 48px;
	margin-top: 3px;
}

.pusher-chat-widget ul.activity-stream li .screen-name {
	font-weight: bold;
	color: #333!important;
}

.pusher-chat-widget ul.activity-stream li .content {
	margin-left: 58px;
	min-height: 48px;
}

.pusher-chat-widget ul.activity-stream li .activity-row {
	display: block;
	position: relative;
	line-height: 15px;
}

.pusher-chat-widget ul.activity-stream li .text {
	padding: 0;
	font-family: Arial,"Helvetica Neue",sans-serif;
	line-height: 19px;
	word-wrap: break-word;
}

.pusher-chat-widget ul.activity-stream li .timestamp {
	color: #999!important;
	font-size: 9px;
}

.pusher-chat-widget ul.activity-stream li .activity-actions span:first-child {
	margin-left: 15px;
}

.pusher-chat-widget ul.activity-stream li .activity-actions {
	color: #999!important;
	font-size: 9px;
}

.pusher-chat-widget ul.activity-stream li .activity-actions span b {
	font-weight: normal;
}