/*
.full-width-div {
	width: 100&;
}

.half-width-div {
	width: 40%;
}


textarea {
	margin: 1vh;
}


.elliptic-curve-parameter {
	width: 90%;
}
*/

body {
	padding-bottom: 20vh;
	/* background-color: #ae8093; */
}

.text-right {
	text-align: right;
	vertical-align: top;
}

.navbar-default {
	border-color: none; /* Border color for the entire navbar */
	border-width: none; /* Border width for the entire navbar */
	border-radius: 0; /* Border radii for the entire navbar */
	background-color: #ae8093; /* Background color for the entire navbar (empty areas mostly, as the navbar's menu items can have their color set independently) */
	background-image: none; /* Background image for the entire navbar */
}

.navbar-default .navbar-brand {
	float: left;
	font-weight: bold;
	color: white; /* Default text color for navbar's brand  */
	background-color: none; /* Default color for navbar's brand */
	background-image: url("img/kite-crypt-logo.png"); /* Default background image for navbar's brand  */
}

.navbar-default .navbar-brand:hover {
	float: left;
	font-weight: bold;
	color: white; /* Text color for navbar's brand when it's hovered over */
	background-color: #ae8093; /* Background color for navbar's brand when it's hovered over */
	background-image: none; /* Background image for navbar's brand when it's hovered over */
}

.navbar-default .navbar-brand:focus {
	float: left;
	font-weight: bold;
	color: white; /* Text color for the navbar's brand when it has the focus */
	background-color: #ae8093; /* Background color for navbar's brand when it has the focus */
	background-image: none; /* Background image for the navbar's brand when it has the focus */
}


.navbar-default .navbar-nav > li > a {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: #ae8093; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav > li > a:hover {
	text-shadow: none;
	font-weight: bold;
	color: white;
	background-color: rgb(103,17,52); /* Hover color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar */
}

.navbar-default .navbar-nav > li > a:focus {
	text-shadow: none;
	font-weight: bold;
	color: white; /* Text color for navbar's brand when it's hovered over */
	background-color: rgb(103,17,52); /* Hover color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar */
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	text-shadow: none;
	color: blue; /* Text color for toggle button text */
	background-color: black; /* Background color for toggle buttons */
	background-image: none;
}

.navbar-default .navbar-text {
	text-shadow: none;
	/*color: white; !*  *!*/
}

.navbar-default .navbar-header .navbar-toggle {
	border-color: rgb(103,17,52); /*  */
	border-width: medium;
	text-shadow: none;
	color: white;
	background-image: none;
}

.navbar-default .navbar-header .navbar-toggle:hover,
.navbar-default .navbar-header .navbar-toggle:focus {
	text-shadow: none;
	color: white;
	background-color: rgb(103,17,52); /*  */
	background-image: none;
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
	text-shadow: none;
	color: white;
	background-color: white; /*  */
	background-image: none;
}

.navbar-default .dropdown {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: #ae8093; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .dropdown:hover,
.navbar-default .dropdown:focus,
.navbar-default .dropdown:enabled {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: #ae8093; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-toggle {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: #ae8093; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-toggle:hover,
.navbar-default .navbar-nav .dropdown .dropdown-toggle:focus,
.navbar-default .navbar-nav .dropdown .dropdown-toggle:enabled {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: rgb(103,17,52); /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: #ae8093; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu:focus,
.navbar-default .navbar-nav .dropdown .dropdown-menu:enabled {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: #ae8093; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
	text-shadow: none;
	color: white; /* Text color for the items in the navbar's menu */
	background-color: #ae8093; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu li a:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu li a:focus {
	text-shadow: none;
	font-weight: bold;
	color: white; /* Text color for navbar's brand when it's hovered over */
	background-color: rgb(103,17,52); /* Hover color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar */
}






