<phpunit>
	<testsuites>
		<testsuite name="KiteCryptTest">
			<file>ProfileTest.php</file>
			<file>FriendshipTest.php</file>
			<file>InvitationTest.php</file>
			<!--<file>MessagesTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../class</directory>
		</whitelist>
	</filter>
</phpunit>