<phpunit>
	<testsuites>
		<testsuite name="KiteCryptTest">
			<file>ProfileTest.php</file>
			<!--<file>MessagesTest.php</file>-->
			<!--<file>InviteTest.php</file>-->
			<!--<file>FriendsTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../classes</directory>
		</whitelist>
	</filter>
</phpunit>