body {
  margin-left: 4px;
  margin-right: 4px;
  background-color: #F99284;
	background-image: url("../img/kite-logo.png");
}

.container {
  width: 640px;
}

#gravatar {
  display: none;
}

.hide {
  display: none;
}

#pusher_chat_widget .pusher-chat-widget {

  margin-left: 30px;
}

