/*************************************************************
Main style
*************************************************************/
	body, html{ /*global body style*/
		font-family: "Quicksand", sans-serif;
		color: #e4e5e4;
		font-size: 1.1rem;
		background-color: #AE8093;
		background-image: url("../img/kite-logo.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 50% 10%;
		/*height: 100%; !*body height*!*/
	}


.container{
	font-family: "Quicksand", sans-serif;
	color: #e4e5e4;
	font-size: 1.1rem;
	background-color: #AE8093;
	background-image: url("../img/kite-logo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 10%;
}
@media (max-height: 399px) { /*for mobile screens with keyboards deployed*/
	body, html { /*global body style*/
		font-family: "Quicksand", sans-serif;
		text-shadow: 0rem 0rem 0.5rem black;
		color: #e4e5e4;
		font-size: 1.1rem;
		background-color: #AE8093;
		height: 100%; /*body height*/
	}
}

.panel-body {
	font-family: "Quicksand", sans-serif;
	color: black;
}