/*************************************************************
Main style
*************************************************************/
	body, html { /*global body style*/
		font-family: "Quicksand", sans-serif;
		color: #e4e5e4;
		font-size: 1.1rem;
		background-color: #AE8093 !important;
		background-image: url("../../public_html/img/kite-logo.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 50% 10%;
		height: 100%; /*body height*/
	}


.container{
	font-family: "Quicksand", sans-serif;
	color: #e4e5e4;
	font-size: 1.0rem;
	background-color: #AE8093;
	background-image: url("../../public_html/img/kite-logo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 10%;
}


.panel-body {
	font-family: "Quicksand", sans-serif;
	color: black;
}

textarea {
	max-width: 100%;
}

.btn {
	color: #98171F;
	background: #F99284;
}


/*.sender-icon {*/
	/*border: transparent;*/
	/*background: transparent;*/
	/*left: 0px;*/
	/*max-height: 20% !important;*/
/*}*/

.well-sm{
	max-width: 80%;
	right: 0px;
	float: right;
}

.user-icon {
	border: transparent;
	background: transparent;
	width: 80px;
	height: auto;
}

/*.panel-body{*/
	/*right: 0px;*/
/*}*/